@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@media (min-width : 1366px) {
* {
    margin: 0;
    padding: 0;
    border: 0;
	font-size: 100%;
    box-sizing: border-box;
}

.retangulo {
    background-color: #196B18;
    height: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    position: absolute;
    width: 123px;
    height: 75px;
    left: 60px;
    top: 40px;
}

.dinamica {
    position: absolute;
    width: 657px;
    height: 150px;
    left: 565px;
    top: 2px;

}

.usuario {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1600px;
    top: 28px;
}

.diaEnoite {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 1750px;
    top: 40px;
}

h1 {
    margin-top: 8rem;
    margin-left: 5rem;
    display: flex;
    width: 115rem;
    height: 2.375rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Paytone One;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    text-transform: uppercase;
}

h2.oq {
    margin-top: 5rem;
    margin-right: 4rem;
    width: 900px;
    height: 60px;
    text-align: center;
    font-family: Paytone One;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

p.intra {
    margin-left: 23rem;
    width: 80.625rem;
    height: 12.5625rem;
    text-align: justify;
    font-family: Ruda;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; 
}

#exemplos {
    display: flex;
}

#formigueiro {
    margin-left: 23rem;
}

img.formigueiro {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin-right: 0;
}

.formigueiro_legenda {
    display: flex;
    align-items: center;
    margin-left: 10rem;
    width: 5.1875rem;
    height: 1.03444rem;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-family: Arimo;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; 
    text-decoration-line: underline;
}

h2.exemploHarmonica {
    width: 25.3125rem;
    height: 4.6875rem;
    color: #000;
    text-align: justify;
    font-family: Ruda;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; 
    margin-top: 5rem;
}

li.harmonicas1 {
    width: 25.625rem;
    height: 1.8125rem;
    text-align: justify;
    font-family: Ruda;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

li.harmonicas2 {
    width: 25.5625rem;
    height: 2.1875rem;
    text-align: justify;
    font-family: Ruda;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; 
    margin-left: 2rem;
}

#louva_Deus {
    margin-left: 30rem;
}

img.louva_Deus {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin-top: 0;
    
}

h3.louva_deus_legenda {
    display: flex;
    margin-left: 5.5rem;
    width: 16.25rem;
    height: 1.03444rem;
    flex-direction: column;
    justify-content: center;
    font-family: Arimo;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; 
    text-decoration-line: underline;
}

h2.exemplo_desarmonicas {
    width: 26.1875rem;
    height: 4.3125rem;
    text-align: justify;
    font-family: Ruda;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; 
    margin-top: 5rem;
}

li.desaeharmônicas1 {
    width: 26.875rem;
    height: 1.75rem;
    text-align: justify;
    font-family: Ruda;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    margin-top: 2rem; 
    margin-left: 2rem;
}

li.desaeharmônicas2 {
    width: 26.5625rem;
    height: 1.8125rem;
    text-align: justify;
    font-family: Ruda;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; 
    margin-left: 2rem;
}

img.abelha {
    width: 62.5rem;
    height: 31.25rem;
    border-radius: 20px;
    margin-top: 10rem;
    margin-left: 30rem;
}

h3.abelhas_legenda {
    display: flex;
    align-items: center;
    margin-left: 57rem;
    width: 8.0625rem;
    height: 1.0625rem;
    flex-direction: column;
    justify-content: center;
    font-family: Arimo;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; 
    text-decoration-line: underline;
}

.faleconosco {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    margin-left: 110rem;
}

h2.fale_conosco {
    display: flex;
    width: 6.1875rem;
    height: 0.8125rem;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    font-family: Arimo;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; 
}


img.telegram {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

img.whats {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

img.email {
    width: 1.5rem;
    height: 1.5rem; 
}
}